body {
  background: url("https://i.imgur.com/R2WW9cf.jpg") no-repeat top center;
  background-size: cover;
  height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 30px;
}

.form-field {
  margin-bottom: 20px;
}

.form-field label {
  display: block;
  margin-bottom: 5px;
}

.form-field input {
  min-width: 200px;
  padding: 8px;
}

.box {
  padding: 10px;
  width: 220px;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.75);
}

.loader {
  position: relative;
  width: 100%;
  height: 220px;
}

.loader::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -16px 0 0 -16px;
  width: 32px;
  height: 32px;
  border: 3px solid transparent;
  border-top-color: green;
  border-bottom-color: green;
  border-radius: 32px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.profile {
  padding: 10px;
  margin-bottom: 20px;
  background: rgba(0, 0, 0, 0.85);
  width: 220px;
  height: 220px;
  border-radius: 220px;
}

.profile img {
  object-fit: contain;
  width: 180px;
  height: 180px;
  margin: 20px;
}