body {
  background: url("https://i.imgur.com/R2WW9cf.jpg") no-repeat top center;
  background-size: cover;
}

.container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 30px;
}

.form-field {
  margin-bottom: 20px;
}

.form-field label {
  display: block;
  margin-bottom: 5px;
}

.form-field input {
  min-width: 200px;
  padding: 8px;
}

.box {
  padding: 10px;
  width: 220px;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.75);
}
